# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env.*  # For .env.local, .env.production, etc.
.env

# Pytest / coverage
.coverage
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.so

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database
*.sqlite3

# Misc
*.bak
*.swp
